/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*
COLOURS:
faeture1: #778899
feature2: #2191ed
bg-dark: #393b3e
*/

/*VARIABLES*/



/*GENERIC*/
::-moz-selection {
       background-color: #2191ed;
       color: #fff;
}
/* Works in Safari */
::-webkit-selection {
       background-color: #2191ed;
       color: #fff;
}

/* Works in Safari */
::selection {
       background-color: #2191ed;
       color: #fff;
}

html,
header,
body,
footer{
    margin:0;
    padding:0;
    font-family: 'Barlow Condensed', sans-serif;
}
body{
    -webkit-background-color:#393b3e;
    -moz-background-color:#393b3e;
    -o-background-color:#393b3e;
    background-color:#393b3e;
}
/*HEADER*/
header {
    height:77px;
    -webkit-background-color:#fff;
    -moz-background-color:#fff;
    -o-background-color:#fff;
    background-color:#fff;
    position: fixed;
    width:100%;
    z-index:101;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

header img{
    height:70px;
    padding: 3.5px 130px;
    display: inline-block;
    float: left;
    z-index:1000;
}

/*BANNER*/

.home-banner{
    display: block;
    height:670px;
    background-image: url(../img/computer-faded.png);
    background-position:bottom;
    -webkit-background-color:#393b3e;
    -moz-background-color:#393b3e;
    -o-background-color:#393b3e;
    background-color:#393b3e;
    overflow: hidden;
}
.home-banner img{
    display: inline-block;
    max-width:1200px;
    margin-top: 200px;
    box-shadow: 2px;
    animation-duration: 2s;
}
#banner-logo-stacked{
    display:none;
}

.home-banner a{
    display: block;
    margin-top:100px;
    color:white;
    font-size:100px;
    width:100px;
    transition:0.5s color ease;
}
.home-banner a:hover{
    color:#2191ed;
    transition:0.5s color ease;
}
.home-banner i{
        animation-delay: 5s;
}

/*About*/

#about{
    display: block;
    max-width:100%px;
    margin-top:170px;
    animation-duration: 2s;
}

.about-anchor{
    display: block;
    width:300px;
    height:10px;
    background-color:#393b3e;
    z-index: 200;
}

#about h1{
    font-weight:500;
    color: #2191eb;
    font-style: italic;
    font-size: 60px;
    margin-top:130px;
}

#font-white-lightitalic{
    font-weight:400;
    color: #fff;
    font-style: italic;
    font-size: 30px;
    padding:0;
    margin:0;
    line-height:30px;
}
#font-white-light{
    font-weight:300;
    color: #fff;
    font-size: 30px;
    padding:0;
    margin:10px;
    line-height:30px;
    max-width:750px;
    z-index:10;
}
#font-grey-light{
    font-weight:300;
    color: #393b3e;
    font-size: 30px;
    padding:0;
    margin:10px;
    line-height:30px;
    max-width:750px;
    z-index:10;
}
#font-blue-light-italic{
    font-weight:300;
    color: #2191ed;
    font-style: italic;
    font-size: 30px;
    padding:0;
    margin:0px;
    line-height:30px;
    z-index:10;
}
   #about .responsive-about{
        display:none;
    }
#about-charactor{
    max-width: 700px;
    display:block;
    margin-top: 60px;
    margin-bottom: 60px;
}
#about-hcj{
    max-width: 500px;
    display:block;
    margin-top: 60px;
    margin-bottom: 60px;
}
#about-responsive-img{
    max-width: 600px;
    display:block;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 3;
}
#about h2{
    display: none;
    font-weight:300;
    color: #fff;
    font-size: 30px;
    padding:0;
    margin-top:30px;
    line-height:30px;
    max-width:650px;
    animation-duration:3s;
}

#about button{
    display:block;
    font-weight:300;
    color: #fff;
    font-size: 30px;
    padding:10px;
    border: 2px solid white;
    text-decoration:none;
    margin-top:30px;
    width: 170px;
    background: none;
    font-family: 'Barlow Condensed', sans-serif;
    cursor: pointer;
    transition: ease-out .2s;
}

#about button:hover{
    background: #2191eb;
    color: #fff;
    border: 2px solid #2191eb;
    transition: ease-in .2s;
}

#what-i-do{
    font-weight:300;
    color: #fff;
    font-size: 30px;
    padding:0;
    margin-top:200px;
    line-height:30px;
    max-width:650px;
}
#angle img{
    width:100%;
    z-index:2;
}
#web-design{
    background-color: white;
    padding-bottom: 40px;
}

#contact{
    display:block;
}
#form-container{
    display: block;
    max-width:1050px;
    background:#2191ed;
    height:580px;
    margin-top:-200px;
    margin-bottom:100px;
    -webkit-box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.29);
    box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.29);
    z-index: 500!important;
}
#form-container h2{
    font-weight:500;
    font-style: italic;
    color: #2191ed;
    font-size: 30px
}
#form-wrapper{
    display:inline-block;
    float:right;
    text-align: left;
    width:60%;
    background:white;
    color: #778899;
    font-size: 15px;
    font-weight:600;
    height:580px;
}
form{
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 100px;
}
input{
    width: 400px;
    padding:5px
}
textarea{
    height:100px;
    width:400px;
    padding:5px;
}
input,textarea{
    background: none;
    border:2px #778899 solid;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:20px;
    font-size:21px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #2191ed;
}
#contact-details-responsive {
    display:none;
}

#contact-details{
    width: 40%;
    float:left;
    display:inline-block;
    padding-top:50px;
    padding-bottom:50px;
}
#contact-details i{
    margin-top:30px;
    font-size:25px;
    color:#fff;
}

#contact-details h2{
    font-weight:500;
    font-style: italic;
    color: #fff;
    font-size: 30px
}
#contact-details p{
    color:white;
    font-size:20px;
    margin:10px;
    font-family: 'Barlow Condensed', sans-serif;
}

form #form-button{
    width:100px;
    height:40px;
    border: 2px solid #2191ed;
    background: #778899;
    color: #fff;
    transition: ease-out .4s;
    cursor: pointer;
    margin-top:0px;
}
form #form-button:hover {
    background: #2191ed;
    transition: ease-in .4s;
    -webkit-box-shadow: rgba(0,0,0,0.75);
    -moz-box-shadow: rgba(0,0,0,0.75);
    box-shadow: rgba(0,0,0,0.75);
}

#prices a{
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-style:italic;
    color:white;
    text-decoration: none;
    padding:10px;
    margin-top:50px;
    max-width:140px;
    border: 2px white solid;
    transition: background, border, ease-out .2s;
}
#prices a:hover{
    color:white;
    background:#2191eb;
    border: 2px #2191eb solid;
    transition: background, border, ease-in .2s;
}





/*PORTFOLIO*/
#portfolio{
background:white;
    padding-bottom: 300px;
}

.portfolio-cards{
    margin:0;
    padding:0;
    width:100%;
}

.portfolio-cards ul{
    margin-top:130px;
    margin-bottom:130px;
    padding:0;
    width:100%;
    list-style: none;
}
.portfolio-cards li{
    margin:1.1%;
    padding:0;
    width:47%;
    display: inline-block;
    background:white;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.15);
    opacity: .8;
    transition: ease-out opacity .2s;
}
.portfolio-cards li:hover{
    opacity: 1;
    transition: ease-in opacity .2s;
}
.portfolio-cards h1{
    margin:0!important;
    padding:23px!important;
    font-size:38px!important;
    text-align:left;
    color: #2191eb!important;
}
.portfolio-cards p{
    margin:0!important;
    padding:23px!important;
    font-size:21px!important;
    text-align:left;
    color: #778899!important;
}
#portfolio-font-blue-light-italic{
    font-weight:300;
    color: #2191ed;
    font-style: italic;
    font-size: 23px;
    padding:0;
    margin:0px;
    line-height:30px;
    z-index:10;
}
.portfolio-cards img{
    margin-top:0px;
    padding:0px;
    width:100%;
}

.portfolio-cards a{
    text-decoration: none;
    display: block;
    margin-top:0px;
    margin-bottom:23px;
    margin-left:23px;
    color:#778899;
    font-size:21px;
    width:140px;
    float: left;
    padding: 5px;
    padding-bottom: 8px;
    transition:0.3s ease-out;
    border: 2px solid #778899;
    text-transform: uppercase;
    font-style: italic;
}
.portfolio-cards a:hover{
    background-color: #2191ed;
    transition:0.3s ease-in;
    color:#fff;
    border: 2px solid #2191ed;
}

#published-on{
    display: block;
    font-size:15px!important;
    color: #778899;
    padding:0!important;
    margin-right: 23px!important;
    margin-top: 23px!important;
    float: right;
    font-style: italic;
    text-transform: uppercase;
    
}

/*copyright-info*/

.copyright-info{
    margin-top: -30px;
    color: #fff;
    font-size: 17px;
    font-style: italic;
    opacity: .7;
}
#copyright-bold{
    font-weight: 700;
}


/*GENERAL MEDIA QUERIES*/

@media (max-width: 1200px) {
    
    #web-design{
    padding-bottom:100px;
    }
    
    #about{
        padding-bottom: 100px;
    }
    #prices{
        padding-bottom: 100px;   
    }
    
    .portfolio-cards li{
        width:95%!important;
    }

#contact-details{
        display:none!important;
    }
    #form-container{
        display:none!important;
    }
    
#contact-details-responsive {
    display:block!important;
    background-color: #2191ed;
    width: 90%;
    display:inline-block;
    margin-top: -300px;
    margin-bottom: 100px;
    padding-top:50px;
    padding-bottom:50px;
}
#contact-details-responsive i{
    margin-top:30px;
    font-size:25px;
    color:#fff;
}

#contact-details-responsive  h2{
    font-weight:500;
    font-style: italic;
    color: #fff;
    font-size: 30px
}
#contact-details-responsive  p{
    color:white;
    font-size:20px;
    margin:10px;
    font-family: 'Barlow Condensed', sans-serif;
}
}

@media (max-width: 800px) {
    #portfolio{
    padding-bottom: 170px;
}
    #published-on{
        float:left!important;
        display:block!important;
        margin: 0px!important;
        padding: 23px!important;
    }
    .portfolio-cards a{
        margin-top: 20px!important;
    }
        .portfolio-cards li{
        margin-bottom: 0px!important;
    }
    
        #banner-logo{
        display: none;
    }
        #banner-logo-stacked{
        display: block;
    }
    #home a{
        display: none;
    }
    
    #about{
    margin-top:-200px;
}
        
    #what-i-do{
    margin-top:-70px;
}
    .responsive-about{
        display:block!important;
    }
    .un-responsive-about{
        display:none!important;
    }
    
    h1{
        font-size:50px!important;
    }
    #web-design-title{
        font-size:50px!important;
    }
    
    p{
        width:90%;
    }
    
#font-white-lightitalic{
    font-weight:400;
    color: #fff;
    font-style: italic;
    font-size: 27px;
    padding:0;
    margin:0;
    line-height:27px;
    width:90%;
}
#font-white-light{
    font-weight:28px;
    color: #fff;
    font-size: 27px;
    padding:0;
    margin:10px;
    line-height:27px;
    max-width:750px;
    z-index:10;
    width:90%;
}
#font-grey-light{
    font-weight:300;
    color: #393b3e;
    font-size: 27px;
    padding:0;
    margin:10px;
    line-height:27px;
    max-width:750px;
    z-index:10;
    width:90%;
}
#font-blue-light-italic{
    font-weight:300;
    color: #2191ed;
    font-style: italic;
    font-size: 27px;
    padding:0;
    margin:0px;
    line-height:27px;
    z-index:10;
}
    
    #about-responsive-img{
        width:95%;
    }
        #about-hcj{
            width:95%;
        }
            #about-charactor{
                    width:95%;
            }

}







/*NAVIGATION MEDIA QUERIES*/


@media (max-width: 1200px) {
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #2191ed;
  width:100%;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
    line-height: 70px;
    font-size:25px;
  text-align: center;
  color: #fff;
  display: block;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #fff;
}

.menu-toggle {
  padding: 14px;
  position: absolute;
  top: 24.5px;
  right: 14px;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #778899;
  height: 2px;
  width: 27px;
  border-radius: 3px;
  transition: all ease-in-out .4s;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(6px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-2px) rotate(-90deg);
}
    
header img{
    height:60px;
    padding: 7.5px 14px;
    display: inline-block;
    float: left;
}
    
}
@media (min-width: 1200px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
      background:none!important;
      position: absolute!important;
      top:0px;
      right:30px;
      height:77px!important;
    display: inline-block!important;
    float: right!important;
    clip-path: initial!important;
  }
    
    .site-nav ul{
    display: inline-block!important;
    float:right!important;
    margin:0!important;
    padding:0!important;
    list-style: none!important;
    padding-right: 130px!important;
    }
  
  .site-nav li {
    display: inline-block!important;
    width:70px!important;
    text-align:center!important;
    margin-right:15px!important;
    margin-left:15px!important;
    line-height:77px!important;
    list-style: none!important;
    font-weight: 500!important;
    font-size: 25px!important;
    color: #778899!important;
    padding:0!important;
  }
    
.site-nav ul a {
  color: #778899!important;
  display: block;
  padding: 0!important;
  text-transform: none!important;
  text-decoration: none!important;
      transition:0.5s color ease;
}

.site-nav ul a:hover,
.site-nav ul a:focus {
  color: #2191ed!important;
  transition:0.5s color ease;
}
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
