/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*
COLOURS:
faeture1: #778899
feature2: #2191ed
bg-dark: #393b3e
*/

/*VARIABLES*/



/*GENERIC*/
html,
header,
body,
footer{
    margin:0;
    padding:0;
    font-family: 'Barlow Condensed', sans-serif;
}

/*HEADER*/
header {
    height:77px;
    -webkit-background-color:#fff;
    -moz-background-color:#fff;
    -o-background-color:#fff;
    background-color:#fff;
    position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

header img{
    height:70px;
    padding: 3.5px 130px;
    display: inline-block;
    float: left;
}

@media (max-width: 1000px) {
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #2191ed;
  width:100%;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
    line-height: 70px;
    font-size:25px;
  text-align: center;
  color: #fff;
  display: block;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #fff;
}

.menu-toggle {
  padding: 10px;
  position: absolute;
  top: 24.5px;
  right: 14px;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #778899;
  height: 3px;
  width: 35px;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-12px);
}

.hamburger::after {
  transform: translateY(9px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}
    
header img{
    height:70px;
    padding: 3.5px 14px;
    display: inline-block;
    float: left;
}
    
}
@media (min-width: 1000px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
      background:none!important;
      position: absolute!important;
      top:0px;
      right:30px;
      height:77px!important;
    display: inline-block!important;
    float: right!important;
    clip-path: initial!important;
  }
    
    .site-nav ul{
    display: inline-block!important;
    float:right!important;
    margin:0!important;
    padding:0!important;
    list-style: none!important;
    padding-right: 130px!important;
    }
  
  .site-nav li {
    display: inline-block!important;
    width:70px!important;
    text-align:center!important;
    margin-right:15px!important;
    margin-left:15px!important;
    line-height:77px!important;
    list-style: none!important;
    font-weight: 400!important;
    font-size: 25px!important;
    color: #778899!important;
    padding:0!important;
  }
    
.site-nav ul a {
  color: #778899!important;
  display: block;
  padding: 0!important;
  text-transform: none!important;
  text-decoration: none!important;
      transition:0.5s color ease;
}

.site-nav ul a:hover,
.site-nav ul a:focus {
  color: #2191ed!important;
  transition:0.5s color ease;
}
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}