@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
header,body,footer{
    margin:0;
    padding:0;
}

header{
    background-color:#1b1c1c;
    height: 62px;
}

#mainnav{
    float: left;
    width: 40%;
}

#mainnav a{
    font-family: 'Josefin Sans', sans-serif;
    color: #888;
    font-size: 17px;
    line-height: 59px;
    text-decoration: none;
    padding-right:20px;
    padding-left:20px;
    margin-right:-5px;
    transition-duration: .2s;
    display: inline-block;
}

#mainnav a:hover{
    color:#fff;
    border-bottom: solid 3px #00ffbc;
}

.logo{
    display: inline-block;
    width: 20%;
    float: left;
}

.logo img{
    height: 50px;
    padding-top: 5px;
    color:red;
}

#socialnav{
    float: right;
    width: 40%;
}

#socialnav a{
    font-family: 'Josefin Sans', sans-serif;
    color: #888;
    font-size: 17px;
    line-height: 59px;
    text-decoration: none;
    padding-right:20px;
    padding-left:20px;
    margin-right:-5px;
    transition-duration: .2s;
    display: inline-block;
}

#snapchat:hover{
    color:#fff;
    border-bottom: solid 3px #fffc00;
}

#facebook:hover{
    color:#fff;
    border-bottom: solid 3px #3eb0f7;
}

#twitter:hover{
    color:#fff;
    border-bottom: solid 3px #8ee1f4;
}

#instagram:hover{
    color:#fff;
    border-bottom: solid 3px #ed56d0;
}

.logo-responsive{
    display: none;
    width: 50%;
    height: 62px;
    float: left;
}

.logo-responsive img{
    height:40px;
    padding-top: 10px;
    float:left;
    margin-left: 10px;
}

#mainnav-responsive{
    float: left;
    width: 50%;
    display:none;   
}

#mainnav-responsive a{
    font-family: 'Josefin Sans', sans-serif;
    color: #888;
    font-size: 17px;
    line-height: 59px;
    text-decoration: none;
    padding-right:20px;
    padding-left:20px;
    margin-right:-5px;
    transition-duration: .2s;
    display: inline-block;
}

.hamburger{
    float: right;
    width: 50%;
    height: 62px;
}
.hamburger img{
    height: 30px;
    float:right;
    padding-top: 16px;
    margin-right: 16px;
    display: none;
}

#mainnav-responsive a:hover{
    color:#fff;
    border-bottom: solid 3px #00ffbc;
}

@media screen and (max-width: 1280px) {
    #mainnav,#socialnav,.logo{
        display: none;
    }
    
    header{
        background-color:#000;
    }
    
    .hamburger img{
        display:inline-block;
    }
    
    .logo-responsive {
        display:inline-block;
    }
    
     .hamburger:hover #mainnav-responsive { /* Display the dropdown on hover */
    display: block /* Bring back on-screen when needed */
}
   
}


@media only screen 
  and (max-device-width: 414px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
    
    header{
        height:162px;
    }

}







